<!DOCTYPE html>
<html>
  <head>
    <title>DesafioZimobi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% if controller_name == "anuncios" %>
      <br>
      <%= link_to 'Home', anuncios_path,class:"btn btn-primary",style:"margin-left: 30px;" %>
      <%end%>
      <br>
    <%= yield %>
  </body>
</html>
